// ---------- VARIABLES

$color-grey-light: #eef3f4;
$color-grey-medium: #a9b4b7;
$color-grey-dark: #555a5b;
$color-accent: #2cc695;

$default-transition: all .2s;

// ---------- KEYFRAMES

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

// ---------- RESET STYLES

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input {
    font: inherit;
    border: none;
}

button {
    border: none;
    background-color: initial;
    outline: none;
}

input:focus, input:hover {
    outline: none;
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

// ---------- UTILITY CLASSES

.u-italic {
    font-style: italic;
}

.u-accent {
    color: $color-accent;
}

.u-underline {
    text-decoration: underline;
}

.u-bold {
    font-weight: 500;
}

.u-bolder {
    font-weight: 700;
}

// ---------- GLOBAL STYLES

.page {
    font: 14px 'Poppins', sans-serif;
    color: #fff;
    background-image: 
        url(https://bytegrad.com/course-assets/css/2/pattern.svg),
        linear-gradient(to bottom right, #8fd861, #2cc695 90%);
    display: flex;
    align-items: center;
    justify-content: center;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

.app {
    height: 1030px;
    width: 1240px;
    background-color: #fff;
    box-shadow: 0 30px 100px rgba(0, 0, 0, 0.35);
    margin: 80px 0;

    display: grid;
    grid-template-columns: 355px 1fr;
    grid-template-rows: 65px 724px 1fr;
}

// ----------- HEADER STYLES

.header {
    grid-column: 1 / 3;
    grid-row: 1 / 2;

    display: flex;
    align-items: center;
}

.logo {
    height: 45px;
    margin-left: 26px;
    margin-right: 48px;
}

.search {
    position: relative;

    &__input {
        background-color: $color-grey-light;
        height: 34px;
        width: 405px;
        border-radius: 500px;
        font-size: 13px;
        color: $color-grey-dark;
        padding-left: 20px;
        transition: $default-transition;


        &:focus {
            width: 425px;
        }

        &::placeholder {
            color: #a9b4b7
        }
    }
    
    &__submit {
        font-size: 15px;
        height: 20px;
        color: $color-grey-medium;
        cursor: pointer;
        transition: $default-transition;
        position: absolute;
        right: 10px;
        top: calc(50% - 10px);
    }
    
    &__submit:focus {
        color: $color-grey-dark;
    }
}

.nav {
    margin-left: auto;

    &__list {
        display: flex;
    
    }
    
    &__link {
        display: block;
        height: 65px;
        padding: 0 20px;
        transition: $default-transition;

        &:hover, 
        &:focus {
            background-color: $color-grey-light;
        }
    }
    
    &__icon {
        line-height: 65px;
        font-size: 22px;
        color: $color-grey-medium;
    }
}


// ----------- SIDEBAR STYLES

.sidebar {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    background-color: #11271f;

    .intro {
        padding: 48px 35px 45px;
        border-bottom: solid rgba(#fff, .1);

        .first-heading {
            font-weight: 600;
            text-transform: uppercase;
            font-size: 34px;
            line-height: 1;
        }

        &__text {
            color: $color-grey-light;
            font-size: 16px;
            margin-top: 12px;
            line-height: 1.8;
        }

        .social {
            display: flex;
            margin: 25px 0 30px;
            justify-content: center;

            &__img {
                height: 35px;
                width: 35px;
                object-fit: cover;
                border-radius: 50%;
                border: 2px #fff solid;

                &:not(:first-child) {
                    margin-left: -8px;
                }
            }

            &__container {
                margin-left: 10px;
            }

            &__number {
                font-weight: 500;
            }

            &__text {
                font-size: 12px;
                color: $color-grey-medium;
                margin-top: -5px;
            }
        }

        .btn {
            background-color: #16b47f;
            padding: 12px 0;
            display: block;
            text-align: center;
            text-transform: uppercase;
            font-weight: 500;
            transition: $default-transition;

            &:hover,
            &:focus {
                background-color: #119267;
            }

            &__icon {
                margin-left: 2px;
            }
        }

        .auth {
            &__text {
                color: $color-grey-medium;
                font-size: 12px;
                text-align: center;
                margin-top: 8px;
            }

            &__link {
                font-weight: 500;
                color: $color-accent;
            }
        }
    }

    .upload {
        padding: 55px 35px;
        border-bottom: 1px solid rgba(#fff, .1);
        color: $color-grey-medium;

        &__container {
            background-color: rgba(#fff, .3);
            height: 330px;
            border-radius: 3px;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            transition: $default-transition;
            position: relative;
            overflow: hidden;

            &:hover {
                background-color: rgba(#fff, .6);
            }

            &::before {
                content: '';
                border: 2px dashed #434747;
                position: absolute;
                top: -1px;
                bottom: -1px;
                left: -1px;
                right: -1px;
            }
        }

        &__icon {
            font-size: 23px;
        }

        &__text {
            color: #fff;
            margin-top: 8px;
        }

        &__alternative {
            font-size: 12px;
            margin-top: -2px;
        }
    }

    .footer {
        padding-top: 35px;
        padding-left: 35px;
        font-size: 11px;
        color: rgba($color-grey-medium, .6);
    
        &__list {
            display: flex;
            column-gap: 15px;
            margin-top: 10px;
        }
    }
}

// ----------- GALLERY STYLES

.gallery {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: $color-grey-light;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 272px 60px 90px 64px 30px 208px;

    &__img-wrapper {
        position: relative;

        &:nth-child(1) {
            grid-column: 1 / 2;
            grid-row: 1 / 3;

        animation: fade-in 1s 0.1s backwards;
        }

        &:nth-child(2) {
            grid-column: 2 / 3;
            grid-row: 1 / 4;

        animation: fade-in 1s 0.2s backwards;
        }

        &:nth-child(3) {
            grid-column: 3 / 4;
            grid-row: 1 / 2;

        animation: fade-in 1s 0.3s backwards;
        }

        &:nth-child(4) {
            grid-column: 1 / 2;
            grid-row: 3 / 6;

        animation: fade-in 1s 0.4s backwards;
        }

        &:nth-child(5) {
            grid-column: 2 / 3;
            grid-row: 4 / -1;
            animation: fade-in 1s 0.5s backwards;
        }

        &:nth-child(6) {
            grid-column: 3 / 4;
            grid-row: 2 / 5;
            animation: fade-in 1s 0.6s backwards;
        }

        &:nth-child(7) {
            grid-column: 1 / 2;
            animation: fade-in 1s 0.7s backwards;
        }

        &:nth-child(8) {
            grid-column: 3 / 4;
            grid-row: 5 / -1;
            animation: fade-in 1s 0.8s backwards;
        }
    }

    &__img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        
    }

    &__comment {
        position: absolute;
        
        background-color: #fff;
        font-size: 12px;
        padding: 4px 10px;
        color: $color-grey-dark;
        border-radius: 100px;

        &--1 {
            top: 15px;
            left: 15px;
        }

        &--2 {
            top: 15px;
            right: 15px;
        }

        &--3 {
            bottom: 15px;
            right: 15px;
        }

        &--4 {
            bottom: 15px;
            left: 15px;
        }
    }

    &__icon {
        color: $color-accent;
        font-size: 11px;
    }

    &__number {
        font-size: 11px;
        margin-right: 2px;
    }

}

// ----------- STEPS STYLES

.steps {
    grid-column: 2 /3;
    grid-row: 3 / 4;
    background-color: #e7edee;
    display: flex;
    align-items: center;
}

.step {
    text-align: center;
    padding: 0 20px;
    justify-content: flex-start;

    &__icon {
        height: 50px;
        width: 50px;
        border-radius: 50px;
        background-color: #fff;
        margin-bottom: 17px;
        line-height: 50px;

        &--1 {
            color: #67b941;
        }
        &--2 {
            color: #38b049;
        }
        &--3 {
            color: #1ea97b;
        }
    }

    &__text {
        color: $color-grey-dark;
        font-size: 12px;
        line-height: 1.8;
    }
}

.second-heading {
    color: #161616;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 6px;
}