// VARIABLES
$color-grey-light: #eef3f4;
$color-grey-medium: #a9b4b7;
$color-grey-dark: #555a5b;

$default-transition: all .2s;
/* ---------- RESET STYLES ---------- */

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input {
    font: inherit;
    border: none;
}

button {
    border: none;
    background-color: initial;
    outline: none;
}

input:focus, input:hover {
    outline: none;
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

/* ---------- GLOBAL STYLES ---------- */

.page {
    font: 14px 'Poppins', sans-serif;
    color: #fff;
    background-image: 
        url(https://bytegrad.com/course-assets/css/2/pattern.svg),
        linear-gradient(to bottom right, #8fd861, #2cc695 90%);
    display: flex;
    align-items: center;
    justify-content: center;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

.app {
    height: 1030px;
    width: 1240px;
    background-color: #fff;
    box-shadow: 0 30px 100px rgba(0, 0, 0, 0.35);
    margin: 80px 0;

    display: grid;
    grid-template-columns: 355px 1fr;
    grid-template-rows: 65px 724px 1fr;
}

/* ----------- HEADER STYLES ----------- */

.header {
    grid-column: 1 / 3;
    grid-row: 1 / 2;

    display: flex;
    align-items: center;
}

.logo {
    height: 45px;
    margin-left: 26px;
    margin-right: 48px;
}

.search {
    position: relative;

    &__input {
        background-color: $color-grey-light;
        height: 34px;
        width: 405px;
        border-radius: 500px;
        font-size: 13px;
        color: $color-grey-dark;
        padding-left: 20px;
        transition: $default-transition;


        &:focus {
            width: 425px;
        }

        &::placeholder {
            color: #a9b4b7
        }
    }
    
    &__submit {
        font-size: 15px;
        height: 20px;
        color: $color-grey-medium;
        cursor: pointer;
        transition: $default-transition;
        position: absolute;
        right: 10px;
        top: calc(50% - 10px);
    }
    
    &__submit:focus {
        color: $color-grey-dark;
    }
}

.nav {
    margin-left: auto;

    &__list {
        display: flex;
    
    }
    
    &__link {
        display: block;
        height: 65px;
        padding: 0 20px;
        transition: $default-transition;

        &:hover, 
        &:focus {
            background-color: $color-grey-light;
        }
    }
    
    &__icon {
        line-height: 65px;
        font-size: 22px;
        color: $color-grey-medium;
    }
}


/* ----------- SIDEBAR STYLES ----------- */

.sidebar {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    background-color: #11271f;
}

/* ----------- GALLERY STYLES ----------- */

.gallery {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: $color-grey-light;
}

/* ----------- STEPS STYLES ----------- */

.steps {
    grid-column: 2 /3;
    grid-row: 3 / 4;
    background-color: #e7edee;
}